<template>
  <v-row>
    <v-col cols="12">
      <ArticlesList :articles="articles"/>
    </v-col>
  </v-row>
</template>

<script>
import ArticlesList from '~/components/ArticlesList'

export default {
  components: {
    ArticlesList,
  },
  data() {
    return {
      articles: [],
    }
  },
  methods: {
    async fetchArticles() {
      const resp = await this.$axios.$get('/articles/published')
      const { results } = resp
      this.articles = results
    },
  },
  mounted() {
    this.$nextTick(async () => {
      try {
        this.$nuxt.$loading.start()
        await this.fetchArticles()
      } catch (err) {
        this.$toast.error(err.message, { duration: 5000 })
      } finally {
        this.$nuxt.$loading.finish()
      }
    })
  }
}
</script>
