<template>
  <v-row align="center" justify="center">
    <v-col cols="12">
      <h1 style="text-align: center;">
        {{ error.statusCode === 404 ? pageNotFound : anotherError }}
      </h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: 'Страница не найдена',
      anotherError: 'Неопознанная ошибка 😓'
    }
  },
  head() {
    const title = this.error.statusCode === 404
      ? this.pageNotFound : this.anotherError
    return { title }
  }
}
</script>
