<template>
  <v-app>
    <v-app-bar app flat>
      <v-btn to="/" color="primary" outlined nuxt>
        <v-icon left>mdi-arrow-left-thick</v-icon>
        Вернуться на главную
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn to="/article/new" color="primary" outlined nuxt>
        Написать статью
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container class="fill-height">
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>
