<template>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col cols="12">
          <base-card model="article" :target="article">
            <template v-slot:title>{{ article.title }}</template>
            <template v-slot:subtitle>
              <span>{{ article.type === 'A' ? 'Статья' : 'Новость' }}</span>
              <span>от {{ article.author }}</span> -
              <span>{{ $moment(new Date(article.pub_date)).fromNow() }}</span>
            </template>
            <template v-slot:text>{{ article.content }}</template>
          </base-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p style="text-align: center;">Комментарии</p>
        </v-col>
        <CommentsList :comments="comments"/>
      </v-row>
      <v-row class="mt-4">
        <v-col cols="12">
          <p style="text-align: center;">Написать комментарий</p>
        </v-col>
        <v-row>
          <v-col cols="12">
            <CommentForm class="mx-auto" style="max-width: 720px;"
              :article="article.id" v-on:comment:created="comments.push($event)"/>
          </v-col>
        </v-row>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import BaseCard from '~/components/BaseCard'
import CommentForm from '~/components/CommentForm'
import CommentsList from '~/components/CommentsList'

export default {
  layout: 'nested',
  components: {
    BaseCard,
    CommentForm,
    CommentsList,
  },
  data() {
    const { article } = this.$route.params
    return {
      article,
      comments: [],
    }
  },
  methods: {
    async fetchComments() {
      const resp = await this.$axios.$get(`/comments/for_article/?pk=${this.article.id}`)
      const { results } = resp
      this.comments = results
    },
  },
  mounted() {
    this.$nextTick(async () => {
      try {
        this.$nuxt.$loading.start()
        await this.fetchComments()
      } catch (err) {
        this.$toast.error(err.message, { duration: 5000 })
      } finally {
        this.$nuxt.$loading.finish()
      }
    })
  }
}
</script>
