<template>
  <v-row>
    <v-col cols="12">
      <ArticleForm/>
    </v-col>
  </v-row>
</template>

<script>
import ArticleForm from '~/components/ArticleForm'

export default {
  layout: 'nested',
  components: {
    ArticleForm,
  }
}
</script>
