<template>
  <v-form ref="form" v-model="status.valid">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="form.author"
            :rules="rules.author"
            label="Автор"
            required
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-select
            v-model="form.type"
            :items="enums.type"
            :rules="rules.type"
            label="Тип"
            required
            outlined
          ></v-select>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.title"
            :rules="rules.title"
            label="Заголовок"
            required
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.content"
            :rules="rules.content"
            label="Текст"
            required
            outlined
          ></v-textarea>
        </v-col>
        <v-col cols="6">
          <v-menu
            v-model="menus.date"
            min-width="290px"
            transition="scale-transition"
            offset-y
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="form.date"
                :rules="rules.date"
                label="Дата публикации"
                v-on="on"
                readonly
                required
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="form.date"
              locale="ru-ru"
              :landscape="true"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6">
          <v-menu
            :close-on-content-click="false"
            v-model="menus.time"
            min-width="290px"
            transition="scale-transition"
            ref="time"
            offset-y
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="form.time"
                :rules="rules.time"
                label="Время публикации"
                v-on="on"
                readonly
                required
                outlined
              ></v-text-field>
            </template>
            <v-time-picker
              v-model="form.time"
              format="24hr"
              :landscape="true"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menus.time = false">Закрыть</v-btn>
              <v-btn text color="primary" @click="$refs.time.save(form.time)">ОК</v-btn>
            </v-time-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <v-btn
            class="mr-4"
            color="success"
            @click="submit"
            :disabled="!status.valid"
            x-large
            outlined
          >
            Опубликовать
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
const Article = 'Статья'
const NewsArticle = 'Новость'

export default {
  data() {
    return {
      rules: {
        date: [v => !!v || 'Дата публикации обязательна'],
        time: [v => !!v || 'Время публикации обязательно'],
        type: [v => !!v || 'Тип контента обязателен'],
        title: [v => !!v || 'Заголовок обязателен'],
        author: [v => !!v || 'Автор обязателен'],
        content: [v => !!v || 'Текст статьи обязателен'],
      },
      status: {
        valid: false,
      },
      enums: {
        type: [Article, NewsArticle]
      },
      menus: {
        date: false,
        time: false,
      },
      form: {
        date: null,
        time: null,
        type: null,
        title: null,
        author: null,
        content: null,
      }
    }
  },
  methods: {
    async createArticle() {
      const type = this.form.type === Article ? 'A' : 'B'
      const pub_date = (() => {
        const [year, month, day] = this.form.date.split('-')
        const [hours, minutes] = this.form.time.split(':')
        return new Date(year, month - 1, day, hours, minutes).toISOString()
      })()
      await this.$axios.$post('/articles/', {...this.form, type, pub_date })
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.$nextTick(async () => {
          try {
            this.$nuxt.$loading.start()
            await this.createArticle()
          } catch (err) {
            this.$toast.error(err.message, { duration: 5000 })
          } finally {
            this.$nuxt.$loading.finish()
            this.$refs.form.reset()
            this.$router.push('/')
          }
        })
      }
    }
  }
}
</script>
