<template>
  <base-list :items="articles">
    <template v-slot:empty>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <h2 style="text-align: center;">Пока что здесь нет статей 😔</h2>
        </v-col>
      </v-row>
    </template>
    <template v-slot:content>
      <v-row v-for="article in articles" :key="article.id">
        <v-col cols="12">
          <ArticleCard :article="article"/>
        </v-col>
      </v-row>
    </template>
  </base-list>
</template>

<script>
import BaseList from '~/components/BaseList'
import ArticleCard from '~/components/ArticleCard'

export default {
  components: {
    BaseList,
    ArticleCard,
  },
  props: {
    articles: {
      type: Array,
      default: [],
    }
  }
}
</script>
