<template>
  <base-card model="article" :target="article">
    <template v-slot:title>{{ article.title }}</template>
    <template v-slot:subtitle>
      <span>{{ article.type === 'A' ? 'Статья' : 'Новость' }}</span>
      <span>от {{ article.author }}</span> -
      <span>{{ $moment(new Date(article.pub_date)).fromNow() }}</span>
    </template>
    <template v-slot:text>{{ `${article.content.substr(0,100)}...` }}</template>
    <template v-slot:actions>
      <v-btn :to="articlePath" color="secondary" text nuxt>Перейти</v-btn>
    </template>
  </base-card>
</template>

<script>
import BaseCard from '~/components/BaseCard'

export default {
  components: {
    BaseCard,
  },
  props: {
    article: {
      type: Object,
      required: true,
    }
  },
  computed: {
    articlePath() {
      const article = this.article
      return {
        name: 'article-id',
        params: { article, }
      }
    }
  }
}
</script>
