<template>
  <v-row>
    <v-col cols="12">
      <template v-if="items.length === 0">
        <slot name="empty"></slot>
      </template>
      <template v-else>
        <slot name="content"></slot>
      </template>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: [],
    },
  }
}
</script>
