<template>
  <v-card class="mx-auto" max-width="720" outlined>
    <v-card-title><slot name="title"></slot></v-card-title>
    <v-card-subtitle><slot name="subtitle"></slot></v-card-subtitle>
    <v-card-text><slot name="text"></slot></v-card-text>
    <v-card-actions>
      <v-btn
        @click="handleReactionClick('+')"
        :disabled="executingRequest"
        :color="currentReaction && currentReaction.type === '+' ? 'red' : ''"
        text
      >
        <span>{{ positiveReactionsCount }}</span>
        <v-icon right >mdi-thumb-up</v-icon>
      </v-btn>
      <v-btn
        @click="handleReactionClick('-')"
        :disabled="executingRequest"
        :color="currentReaction && currentReaction.type === '-' ? 'red' : ''"
        text
      >
        <span>{{ negativeReactionsCount }}</span>
        <v-icon right >mdi-thumb-down</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <slot name="actions"></slot>
    </v-card-actions>
  </v-card>
</template>

<script>
import UUID from '~/tools/uuid'

const Positive = '+'
const Negative = '-'

export default {
  props: {
    model: {
      type: String,
      required: true,
    },
    target: {
      type: Object,
      required: true,
    }
  },
  data() {
    const positiveReactionsCount = this.target.reactions.filter(i => i.type === '+').length
    const negativeReactionsCount = this.target.reactions.filter(i => i.type === '-').length
    return {
      uuid: null,
      currentReaction: null,
      executingRequest: false,
      positiveReactionsCount,
      negativeReactionsCount,
    }
  },
  methods: {
    async handleAsyncRequest(func) {
      try {
        this.$nuxt.$loading.start()
        this.executingRequest = true
        await func()
      } catch (err) {
        this.$toast.error(err.message, { duration: 5000 })
      } finally {
        this.$nuxt.$loading.finish()
        this.executingRequest = false
      }
    },
    async createReaction(type) {
      await this.handleAsyncRequest(async () => {
        const data = {
          pk: this.target.id,
          uuid: this.uuid,
          model: this.model
        }
        const reaction = await this.$axios.$post('/reactions/', { ...data, type })
        this.currentReaction = reaction
        this.$emit('reaction:create', { ...reaction })
        if (type === Positive) {
          this.positiveReactionsCount += 1
        } else {
          this.negativeReactionsCount += 1
        }
      })
    },
    async deleteReaction() {
      await this.handleAsyncRequest(async () => {
        const reaction = this.currentReaction
        const { type } = reaction
        await this.$axios.$delete(`/reactions/${reaction.id}/`)
        this.currentReaction = null
        this.$emit('reaction:delete', { ...reaction })
        if (type === Positive) {
          this.positiveReactionsCount -= 1
        } else {
          this.negativeReactionsCount -= 1
        }
      })
    },
    async updateReaction(type) {
      if (type === this.currentReaction.type) {
        await this.deleteReaction()
      } else {
        this.handleAsyncRequest(async () => {
          const reaction = await this.$axios.$patch(
            `/reactions/${this.currentReaction.id}/`, { type })
          this.currentReaction = reaction
          this.$emit('reaction:update', { ...reaction })
          if (type === Positive) {
            this.positiveReactionsCount += 1
            this.negativeReactionsCount -= 1
          } else {
            this.negativeReactionsCount += 1
            this.positiveReactionsCount -= 1
          }
        })
      }
    },
    async handleReactionClick(type) {
      if (!this.currentReaction) {
        await this.createReaction(type)
      } else {
        await this.updateReaction(type)
      }
    }
  },
  mounted() {
    const me = UUID.getOrCreate()
    this.uuid = me
    this.target.reactions.forEach(reaction => {
      if (reaction.uuid === me) {
        this.currentReaction = reaction
        return
      }
    })
  }
}
</script>
