<template>
  <v-form ref="form" v-model="status.valid">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="form.author"
            :rules="rules.author"
            label="Автор"
            outlined
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.content"
            :rules="rules.content"
            label="Сообщение"
            outlined
            required
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-btn
            class="mr-4"
            color="success"
            @click="submit"
            :disabled="!status.valid"
            x-large
            outlined
          >
            Опубликовать
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  props: {
    article: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      rules: {
        author: [v => !!v || 'Автор обязателен'],
        content: [v => !!v || 'Текст комментария обязателен'],
      },
      status: {
        valid: false,
      },
      form: {
        author: null,
        content: null,
      },
    }
  },
  methods: {
    async createComment() {
      const article = this.article
      const result = await this.$axios.$post('/comments/', { ...this.form, article })
      this.$emit('comment:created', { ...result })
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.$nextTick(async () => {
          try {
            this.$nuxt.$loading.start()
            await this.createComment()
            this.$refs.form.reset()
          } catch (err) {
            this.$toast.error(err.message, { duration: 5000 })
          } finally {
            this.$nuxt.$loading.finish()
          }
        })
      }
    }
  }
}
</script>
