<template>
  <base-list :items="comments">
    <template v-slot:empty>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <h2 style="text-align: center;">Комментарии отсутсвуют</h2>
        </v-col>
      </v-row>
    </template>
    <template v-slot:content>
      <v-row v-for="comment in comments" :key="comment.id">
        <v-col cols="12">
          <CommentCard :comment="comment"/>
        </v-col>
      </v-row>
    </template>
  </base-list>
</template>

<script>
import BaseList from '~/components/BaseList'
import CommentCard from '~/components/CommentCard'

export default {
  components: {
    BaseList,
    CommentCard,
  },
  props: {
    comments: {
      type: Array,
      default: [],
    }
  }
}
</script>
