<template>
  <base-card model="comment" :target="comment">
    <template v-slot:title>{{ comment.author }}</template>
    <template v-slot:text>{{ comment.content }}</template>
  </base-card>
</template>

<script>
import BaseCard from '~/components/BaseCard'

export default {
  components: {
    BaseCard,
  },
  props: {
    comment: {
      type: Object,
      required: true,
    }
  }
}
</script>
